<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 6</title>

    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section id="app" class="min-h-screen bg-cyan-50 flex flex-col gap-4">
        <article class="w-screen h-20">
            <h1 class="text-center pt-2 text-5xl font-bold text-cyan-500">Book</h1>
        </article>
        <article class="w-screen h-20 flex justify-center">
            <button class="text-2xl text-cyan-500 font-bold  border-2 rounded-lg drop-shadow-2xl px-20" @click="showBook = !showBook">
                <span v-if="showBook === false">Show</span>
                <span v-if="showBook === true">Hide</span>
            </button>
        </article>
        <article class="w-screen grow flex justify-evenly gap-4" v-if="showBook">
            <div class="w-fit h-fit rounded-lg drop-shadow-2xl bg-cyan-900 mx-4" v-for="book in books">
                <img :src="book.img" v-bind:alt="book.title" class="h-56 w-full object-cover object-top" :class="{img:book.bottom}" >
                <p class="px-8 py-5 text-xl font-semibold text-slate-50">
                    Title - <span class="text-cyan-100">{{ book.title }}</span>
                </p>
                <p class="px-8 pb-5 text-xl font-semibold text-slate-50">
                    Author - <span class="text-cyan-100">{{ book.author }}</span>
                </p>
            </div>
        </article>
    </section>

    <script src="./main.js"></script>
</body>
</html>