<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 7</title>

    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- css -->
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section id="app" class="bg-indigo-100 min-h-screen flex flex-col gap-4">
        <article class="w-screen h-20 text-indigo-700">
            <p class="text-center text-5xl pt-4 font-bold drop-shadow-2xl">Book</p>
        </article>
        <article class="w-screen h-20 text-3xl font-bold text-indigo-700 flex justify-center">
            <button @click="showBook = !showBook" class="border-2 border-indigo-700 px-10 rounded-full my-2 shadow-2xl">
                <span v-if="showBook === false">Show</span>
                <span v-if="showBook">Hide</span>
            </button>
        </article>
        <article class="w-screen grow flex gap-4 justify-evenly" v-if="showBook">
            <div v-for="book in filter" class="shadow-2xl mx-4 w-fit h-fit rounded-lg bg-indigo-700" @click="change(book)">
                <img :src="book.img" v-bind:alt="book.title" class="h-56 w-full object-cover object-top" v-if="book.bottom === false">
                <img :src="book.img" v-bind:alt="book.title" class="h-56 w-full object-cover object-center" v-if="book.bottom === true">
                <p class="px-8 py-5 text-xl font-semibold text-slate-50">
                    Title - <span class="text-cyan-100">{{ book.title }}</span>
                </p>
                <p class="px-8 pb-5 text-xl font-semibold text-slate-50">
                    Author - <span class="text-cyan-100">{{ book.author }}</span>
                </p>
            </div>
        </article>
    </section>

    <!-- script -->
    <script src="./main.js"></script>
</body>
</html>